.log-style {
    width: 30rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

}

#link-style {
    text-decoration: none;
}
#link-style:hover {
    text-decoration: underline;
    opacity: 90%;
}