.log-style {
    width: 30rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

}
.imgstyle {
   
}
#link-style {
    text-decoration: none;
}
#link-style:hover {
    text-decoration: underline dotted;
    opacity: 90%;
}