.mit-lightblue {
    background-color: #8fabca;
}
.mit-active {
    color: #283b70 !important;
    border-bottom: 3px solid #283b70;
}
.mit-blue {
    color: #283b70 !important;
}

.mit-head {
    height: 1.5em;
    
}

.headpad {
    padding: 1.5em;
}

#a-deco{
    text-decoration: none;
    opacity: 0.7;
}
#a-deco:hover{
    opacity: 1;
}