#AccountInformationen{
    border-color:#283b70;
    border-width: 3px;
    border-style: solid;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 1%;   
}

#Passwortaendern{
    border-color:#283b70;
    border-width: 3px;
    border-style: solid;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 5%;
}

#Accountloeschen{
    border-color:#283b70;
    border-width: 3px;
    border-style: solid;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 1%;
    margin-bottom: 5%;
}

h2,p,b{
    margin: 2%;
}

.groeßererText{
    font-size: large;
}

.row{
    margin-right: 0%;
}
#buttonAllgInfoBearbeiten{
    margin: 2%;
    background-color: #283b70;
    border-color: #283b70;
    color: white;
}
#buttonPasswortaendern{
    margin: 2%;
    background-color: #283b70;
    border-color: #283b70;
    color: white;
}
#buttonAccountLoeschen{
    margin-top: 2%;
}
#accountLoeschenBestaetigung{
    margin: 2%;
}
.custom-half-width {
    width: 50%;
}

.card{
    border-color: #8fabca;
    border-width: 2px;
    
}