.log-style {
    width: 30rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

}
.btn-log {
    background-color: #283b70 !important;
    border-color: #283b70 !important;
    color: white;
}

#link-style {
    text-decoration: none;
}
#link-style:hover {
    text-decoration: underline;
    opacity: 90%;
}