#buttonspeichern{
    background-color: #283b70;
    border-color: #283b70;
    color: white;
}
.card{
    margin-bottom: 5%;
}
#aenderungspeichern{
    background-color: #283b70;

    color: white;
}
