#buttonVeranstaltungDetails,#buttonspeichern{
    background-color: #283b70;
    border-color: #283b70;
    color: white;


}
#buttoneinzelveranstaltungVeranstaltungDetails{
    background-color: #283b70;
    border-color: #283b70;
    color: white;
    font-size: small;

}
#buttonVeranstaltungsgruppeBearbeiten{
    background-color: #283b70;
    border-color: #283b70;
    color: white;
    font-size: small;
    margin-right: 5%;
}
#buttonVeranstaltungsgruppeLöschen{
    color: white;
    font-size: small;
    margin-right: 5%;
}
#buttoneinzelveranstaltungLöschen{
    font-size: small;
    margin-right: 5%;
}
#veranstaltungsgruppeerstellen{
    background-color: #283b70;
    border-color: #283b70;
    color: white;
    margin-left: 3%;
    margin-bottom: 0%;
}
.vertical-line {
    border-left: 2px solid lightgray; /* Ändere die Farbe und die Breite nach Bedarf */
    height: 80%; /* Die Linie erstreckt sich über die gesamte Höhe der Spalte */
    margin-top: 5%;
    margin-bottom: 5%;
}
.card{
    border-color:#8fabca;
    border-width: 3px;
    border-style: solid;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
.btn{
    margin-bottom: 5%;
    margin-top: 5%;
}
.card{
    border-color: #8fabca;
    border-width: 2px;
}
#veranstaltungsdetailstitel{
    text-align: center;
}
#personenzahl{
    color: #283b70;
    font-size: x-large;
}
#veranstaltungsdetailsansicht{
    margin: 5%;
}
/*#anmeldebutton{
    background-color: #283b70;
    border-color: #283b70;
    color: white;
}*/

#veranstaltungsdetailstitel,.zentrierung{
    text-align: center;
}